:root {
  --color-white: #f6f6f6;
  --color-black: #333333;
  --color-gray: #ccc;
  --color-blue: #668cff;
  --color-red: #ff4d4d;
  --color-green: #009900;
}

html {
  height: 100%;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-white);
}

#root {
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.calculator {
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 2rem;
}

.calculator__heading {
  font-size: 3rem;
  color: var(--color-black);
}

.calculator__input {
  min-width: 40%;
  height: 200px;
  padding: 0.5rem;
  font-size: 2rem;
  border: 1px solid var(--color-gray);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin: 0;
  margin-bottom: 1rem;
  resize: none;
}
.calculator__button {
  color: white;
  padding: 0;
  height: 3rem;
  width: 5rem;
  font-size: 1.2rem;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.calculator__button-add {
  background-color: var(--color-blue);
}

.calculator__button-clear {
  background-color: var(--color-red);
}

.calculator__error {
  font-size: 1.5rem;
  color: var(--color-red);
  margin: 0;
  margin-bottom: 1rem;
  font-style: italic;
  display: none;
}

.calculator__output {
  font-size: 2rem;
  margin: 0;
  visibility: hidden;
  color: var(--color-black);
}

.calculator__output-value {
  color: var(--color-green);
}
